/* color palette from <https://github.com/vuejs/theme> */
:root {
  /* Light colors */
  --clr-white-strong: #FBFBFB;
  --clr-white-medium: #F4F3EE;
  --clr-white-soft: #EFEFEF;
  /* --clr-white-soft: #F8F9fA; */

  --clr-box-shadow-light: lightgrey;

  --clr-divider-light-strong: #161A1D;
  --clr-divider-light-medium: #827878;

  --clr-txt-white: #0B090A;

  --clr-table-caption-light: #DEDEDE;
  --clr-table-th-light: hsla(0 80% 80% / 0.1);
  --clr-table-tr-odd-light: #EFEFEF;
  --clr-table-tr-even-light: hsla(0 100% 100% / 0.5);

  /* Dark colors */
  --clr-black-strong: #252525;
  --clr-black-medium: #323232;
  --clr-black-soft: #393939;

  --clr-box-shadow-dark: darkgrey;

  --clr-divider-dark-strong: #F8F7FF;
  --clr-divider-dark-medium: #BDBDBD;

  --clr-txt-black: #FFF;

  --clr-table-caption-dark: hsla(0 0% 0% / 0.5);
  --clr-table-th-dark: hsla(0 0% 0% / 0.25);
  --clr-table-tr-odd-dark: #323232;
  --clr-table-tr-even-dark: hsla(0 0% 0% / 0.1);

  --clr-app: #55A630;

  --section-gap: 160px;
  --nav-hgt: 150px;
}

:root {
  --clr-bg-strong: var(--clr-white-strong);
  --clr-bg-medium: var(--clr-white-medium);
  --clr-bg-soft: var(--clr-white-soft);

  --clr-box-shadow: var(--clr-box-shadow-light);

  --clr-divider-strong: var(--clr-divider-light-strong);
  --clr-divider-medium: var(--clr-divider-light-medium);

  --clr-txt: var(--clr-txt-white);

  --clr-table-caption: var(--clr-table-caption-light);
  --clr-table-th: var(--clr-table-th-light);
  --clr-table-tr-odd: var(--clr-table-tr-odd-light);
  --clr-table-tr-even: var(--clr-table-tr-even-light);
}

:root:has(img.dark-mode) {
  --clr-bg-strong: var(--clr-black-strong);
  --clr-bg-medium: var(--clr-black-medium);
  --clr-bg-soft: var(--clr-black-soft);

  --clr-box-shadow: var(--clr-box-shadow-dark);

  --clr-divider-strong: var(--clr-divider-dark-strong);
  --clr-divider-medium: var(--clr-divider-dark-medium);

  --clr-txt: var(--clr-txt-black);

  --clr-table-caption: var(--clr-table-caption-dark);
  --clr-table-th: var(--clr-table-th-dark);
  --clr-table-tr-odd: var(--clr-table-tr-odd-dark);
  --clr-table-tr-even: var(--clr-table-tr-even-dark);
}

.primary { --clr-element: #00509d; }

.success { --clr-element: #3DA35D; }

.danger { --clr-element: #E63946; }

.warning { --clr-element: #F7B538; }

.info { --clr-element: #7400B8; }

.secondary { --clr-element: #A9A9A9; }

.dark { --clr-element: #2C3E50; }

body {
  background-color: var(--clr-bg-medium);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  color: var(--clr-txt);
  transition: background-color, border, border-color, color, 
              transform, translate, scale, 
              top, right, bottom, left, 
              300ms;
}

